################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DigitsRecognizerTests/obj/Debug
/DigitsRecognizer/obj/Debug
/DigitsRecognizer/bin/Debug
/DigitsRecognizer
/.vs/Machine-Learning-Projects-for-dotNET/v14/.suo
/.vs/Machine-Learning-Projects-for-dotNET/v14
