################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DigitsRecognizerTests/obj/Debug
/DigitsRecognizer/obj/Debug
/DigitsRecognizer/bin/Debug
/DigitsRecognizer
/.vs/Machine-Learning-Projects-for-dotNET/v14/.suo
/.vs/Machine-Learning-Projects-for-dotNET/v14
/Chapter5/bin/Debug
/Chapter5/obj/Debug
/ConwaysGameOfLife/bin/Debug
/DigitsRecognizerFS/bin/Debug
/DigitsRecognizerTests/bin/Debug
/DigitsRecognizerFS/obj/Debug
/ConwaysGameOfLife/obj/Debug
/OfBikesAndMen/obj/Debug
/OfBikesAndMen/bin/Debug
/SpamorHam/obj/Debug
/SpamorHam/bin/Debug
/TheJoyOfTypeProvders/obj/Debug
/TheJoyOfTypeProvders/bin/Debug
/.vs/config/applicationhost.config
/packages
/UpgradeLog.htm
/Chapter6_TreesAndForests/obj/Debug
